<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 bg-warning  p-0 d-md-block d-none vh-100">
            <img src="assets/imgs/edc9e4c7-f423-43d9-8d93-3a958070b9cb.jpg" alt="" class="w-100 h-100">
        </div>
        <div class="col-md-6 col-12">
            <div class="form_box m-auto">
                <img src="assets/imgs/logo.png" alt="" class="mx-auto mt-3 d-block" width="100">
                <div class="mx-auto mt-4">
                    <h6 class="text-secondary">Welcome Back</h6>
                    <h4>Change Your Password Easily</h4>
                </div>
                <form class="example-form mt-5" [formGroup]="change">
                  <div class="row">

                    <div class="col-12">
                      <label for="" class="fw-bold mb-1 d-block">Old Password</label>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <input type="password" matInput formControlName="password" placeholder="Password">
                        @if (change.get('password')!.getError('required') ) {
                          <mat-error>Old Password is <strong>required</strong></mat-error>
                        }
                      </mat-form-field>
                    </div>

                    <div class="col-12">
                      <label for="" class="fw-bold mb-1 d-block">New Password</label>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <input type="password" matInput formControlName="password_new" placeholder="Password">
                        @if (change.get('password_new')!.getError('required') ) {
                          <mat-error>New Password is <strong>required</strong></mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>                  

                      <div class="btns mt-4">
                        <button type="submit" class="p-1 orange" (click)="sendData()">Send</button>
                      </div>
                  </form>
                  
            </div>
        </div>
    </div>
</div>