<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 bg-warning  p-0 d-md-block d-none vh-100">
            <img src="assets/imgs/edc9e4c7-f423-43d9-8d93-3a958070b9cb.jpg" alt="" class="w-100 h-100">
        </div>
        <div class="col-md-6 col-12">
            <div class="form_box m-auto">
                <img src="assets/imgs/logo.png" alt="" class="mx-auto mt-3 d-block" width="100">
                <div class="mx-auto mt-4">
                    <h6 class="text-secondary">Welcome Back</h6>
                    <h4>Forget Password !!</h4>
                </div>
                <form class="example-form mt-5" [formGroup]="forget">
                  <div class="row">
                    <div class="col-12">
                      <label for="" class="fw-bold mb-1 d-block">Email</label>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" class="">
                        @if (forget.get('email')!.getError('email') && !forget.get('email')!.getError('required')) {
                          <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (forget.get('email')!.getError('required')) {
                          <mat-error>Email is <strong>required</strong></mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>               

                      <div class="btns mt-4">
                        <button type="submit" class="p-1 blue mt-2" (click)="send()">Send</button>
                      </div>
                  </form>
                  
            </div>
        </div>
    </div>
</div>