<div class="main ">
    <div class="container text-center">
        <h2>Subscibe to Our Newsletter</h2>
        <p>Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit adipiscing enim pharetra hac.</p>
        <form action="" class="bg-white p-2 d-flex align-items-center gap-2">
            <span class="icon">✉️</span>
            <input type="email" name="" id="" placeholder="eeaarrss@gmai.com" class="form-control">
            <button>SUBSCRIBE</button>
        </form>
    </div>
</div>