<div class="shadow-sm main">
    <div class="container p-3 d-flex justify-content-between align-items-center" >
        <img src="../../../../assets/imgs/149071.png" alt="" width="50" class="">
        <ul class="list-unstyled m-0 d-lg-flex d-none gap-4 w-100 justify-content-center">
            <li class="pe-3"><a>Home</a></li>
            <li class="pe-3"><a>about us</a></li>
            <li class="pe-3"><a>books</a></li>
            <li class="pe-3"><a >new release</a></li>
            <li class="pe-3"><a>contact us</a></li>
            <li class="pe-3"><a  >blog</a></li>
        </ul>
        <div class="d-lg-flex gap-3 fs-5 d-none">
            <i class="far fa-user pe-3"></i>
            <i class="fas fa-bag-shopping pe-3"></i>
            <i class="fa-solid fa-right-from-bracket" (click)="logOut()"></i>
        </div>
        <i class="fas fa-bars fs-4 d-lg-none d-block" (click)="open()"></i>
    </div>
</div>

<div class="menu shadow-sm bg-white p-2" [ngStyle]="{'right': show ? '0' :'-300px'}">
    <i class="fas fa-xmark fs-4 close" (click)="close()"></i>
    
    <img src="assets/imgs/149071.png" alt="" width="100" class="mt-5 m-auto d-block">

    <div class="d-flex mt-5 mb-4 justify-content-center gap-3 fs-4 menu_icons">
        <i class="far fa-user pe-3" (click)="goLogin()"></i>
        <i class="fas fa-bag-shopping pe-3"></i>
        <i class="far fa-heart "></i>
    </div>
    <ul class="list-unstyled m-0 d-flex flex-column align-items-center mt- gap-3">
        <li class="pe-3"><a href="#home"  routerLinkActive="active" >Home</a></li>
        <li class="pe-3"><a href="#about"  routerLinkActive="active" >about us</a></li>
        <li class="pe-3"><a href="#books"  routerLinkActive="active" >books</a></li>
        <li class="pe-3"><a href="#new"  routerLinkActive="active" >new release</a></li>
        <li class="pe-3"><a href="#contact"  routerLinkActive="active" >contact us</a></li>
        <li class="pe-3"><a href="#blog"  routerLinkActive="active" >blog</a></li>
    </ul>
</div>