<div class="container-fluid" id="home">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner  h-100  pt-4">
        <div class="carousel-item active">
          <div class="row align-items-center">
            <div class="col-md-6 col-12">
              <div class="box ps-4 text-lg-start text-center">
                <h2>Ipsum Dolor Si</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet dolorem suscipit nobis reiciendis voluptatum. Pariatur! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, ea!</p>
                <button class="btn blue mt-3 mx-md-0 mx-auto">Read More <i class="fas fa-arrow-right ms-2 "></i></button>
              </div>
            </div>
            <div class="col-6 d-md-block d-none">
              <div class="img_cont text-center">
                <img src="assets/imgs/anna.png" alt="" class="" width="300">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-6 col-12">
              <div class="box ps-4 text-lg-start text-center">
                <h2>Ipsum Dolor Si</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet dolorem suscipit nobis reiciendis voluptatum. Pariatur! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, ea!</p>
                <button class="btn blue mt-3 mx-md-0 mx-auto">Read More <i class="fas fa-arrow-right ms-2 "></i></button>
              </div>
            </div>
            <div class="col-6 d-md-block d-none">
              <div class="img_cont text-center">
                <img src="assets/imgs/anna.png" alt="" class="" width="300">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-6 col-12">
              <div class="box ps-4 text-lg-start text-center">
                <h2>Ipsum Dolor Si</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet dolorem suscipit nobis reiciendis voluptatum. Pariatur! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, ea!</p>
                <button class="btn blue mt-3 mx-md-0 mx-auto">Read More <i class="fas fa-arrow-right ms-2 "></i></button>
              </div>
            </div>
            <div class="col-6 d-md-block d-none">
              <div class="img_cont text-center">
                <img src="assets/imgs/anna.png" alt="" class="" width="300">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-6 col-12">
              <div class="box ps-4 text-lg-start text-center">
                <h2>Ipsum Dolor Si</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet dolorem suscipit nobis reiciendis voluptatum. Pariatur! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, ea!</p>
                <button class="btn blue mt-3 mx-md-0 mx-auto">Read More <i class="fas fa-arrow-right ms-2 "></i></button>
              </div>
            </div>
            <div class="col-6 d-md-block d-none">
              <div class="img_cont text-center">
                <img src="assets/imgs/anna.png" alt="" class="" width="300">
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  
  </div>
</div>

