<div class="main p-2">
    <div class="container d-flex align-items-center justify-content-between flex-sm-row flex-column gap-3">
        <div class="phone text-white">
            <i class="fas fa-phone me-2"></i>
            <span>+91 8374902234</span>
        </div>
        <div class="icons d-flex gap-5 text-white">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-b"></i>
        </div>
    </div>
</div>