<div class="main py-5">
  <div class="container rounded-2 shadow-sm">
    <div id="offer" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#offer"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#offer"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#offer"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row align-items-center">
            <div class="col-lg-6 col-12">
              <div class="box ps-4 text-lg-start text-center pt-lg-0 pt-5">
                <h2 class="mb-4">
                  All books are 50% off now! Don't miss such a deal!
                </h2>
                <p class="d-sm-block d-none">
                  amet consectetur adipisicing elit. Distinctio, eos. Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
                  ea!
                </p>

                <div class="date row mt-4 gy-3">
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="days">
                      <div class="num">768</div>
                      <div class="text">Days</div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="hours">
                      <div class="num">01</div>
                      <div class="text">hours</div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="min">
                      <div class="num">27</div>
                      <div class="text">mint</div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="sec">
                      <div class="num">55</div>
                      <div class="text">sec</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-block d-none">
              <div class="img_cont">
                <img src="assets/imgs/Unsplash.png" alt="" class=""  />
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="row align-items-center">
            <div class="col-lg-6 col-12">
              <div class="box ps-4 text-lg-start text-center pt-lg-0 pt-5">
                <h2 class="mb-4">
                  All books are 50% off now! Don't miss such a deal!
                </h2>
                <p class="d-sm-block d-none">
                  amet consectetur adipisicing elit. Distinctio, eos. Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
                  ea!
                </p>

                <div class="date row mt-4 gy-3">
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="days">
                      <div class="num">768</div>
                      <div class="text">Days</div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="hours">
                      <div class="num">01</div>
                      <div class="text">hours</div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="min">
                      <div class="num">27</div>
                      <div class="text">mint</div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="sec">
                      <div class="num">55</div>
                      <div class="text">sec</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-block d-none">
              <div class="img_cont">
                <img src="assets/imgs/Unsplash.png" alt="" class=""  />
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="row align-items-center">
            <div class="col-lg-6 col-12">
              <div class="box ps-4 text-lg-start text-center pt-lg-0 pt-5">
                <h2 class="mb-4">
                  All books are 50% off now! Don't miss such a deal!
                </h2>
                <p class="d-sm-block d-none">
                  amet consectetur adipisicing elit. Distinctio, eos. Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
                  ea!
                </p>

                <div class="date row mt-4 gy-3">
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="days">
                      <div class="num">768</div>
                      <div class="text">Days</div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="hours">
                      <div class="num">01</div>
                      <div class="text">hours</div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="min">
                      <div class="num">27</div>
                      <div class="text">mint</div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 col-6">
                    <div class="sec">
                      <div class="num">55</div>
                      <div class="text">sec</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-block d-none">
              <div class="img_cont">
                <img src="assets/imgs/Unsplash.png" alt="" class=""  />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
