<div class="main py-5">
  <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row align-items-center">

            <div class="col-6 d-md-block d-none">
              <div class="img_cont text-center">
                <img src="assets/imgs/books/3.png" alt="" class="" width="350">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="box ps-4 text-lg-start text-center pt-md-0 pt-4">
                <h2>Featured book</h2>
                <span class="author mx-lg-0 mx-auto">By Timbur Hood</span>

                <h4 class="text_blue mb-3">Birds gonna be happy</h4>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, adipisci. Lorem ipsum dolor sit amet.</p>
                <span class="price">$ 40.00</span>
                <button class="btn blue mt-1 mx-md-0 mx-auto">View More <i class="fas fa-arrow-right ms-2 "></i></button>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">

            <div class="col-6 d-md-block d-none">
              <div class="img_cont text-center">
                <img src="assets/imgs/books/3.png" alt="" class="" width="350">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="box ps-4 text-lg-start text-center pt-md-0 pt-4">
                <h2>Featured book</h2>
                <span class="author mx-lg-0 mx-auto">By Timbur Hood</span>

                <h4 class="text_blue mb-3">Birds gonna be happy</h4>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, adipisci. Lorem ipsum dolor sit amet.</p>
                <span class="price">$ 40.00</span>
                <button class="btn blue mt-1 mx-md-0 mx-auto">View More <i class="fas fa-arrow-right ms-2 "></i></button>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">

            <div class="col-6 d-md-block d-none">
              <div class="img_cont text-center">
                <img src="assets/imgs/books/3.png" alt="" class="" width="350">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="box ps-4 text-lg-start text-center pt-md-0 pt-4">
                <h2>Featured book</h2>
                <span class="author mx-lg-0 mx-auto">By Timbur Hood</span>

                <h4 class="text_blue mb-3">Birds gonna be happy</h4>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, adipisci. Lorem ipsum dolor sit amet.</p>
                <span class="price">$ 40.00</span>
                <button class="btn blue mt-1 mx-md-0 mx-auto">View More <i class="fas fa-arrow-right ms-2 "></i></button>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">

            <div class="col-6 d-md-block d-none">
              <div class="img_cont text-center">
                <img src="assets/imgs/books/3.png" alt="" class="" width="350">
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="box ps-4 text-lg-start text-center pt-md-0 pt-4">
                <h2>Featured book</h2>
                <span class="author mx-lg-0 mx-auto">By Timbur Hood</span>

                <h4 class="text_blue mb-3">Birds gonna be happy</h4>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, adipisci. Lorem ipsum dolor sit amet.</p>
                <span class="price">$ 40.00</span>
                <button class="btn blue mt-3 mx-md-0 mx-auto">View More <i class="fas fa-arrow-right ms-2 "></i></button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>