<div class="main py-5">
    <div class="container">
        <div class="row gy-5">
            <div class="col-md-5 col-12">
                <div class="box text-white">
                    <img src="assets/imgs/sample logo 1.png" alt="">
                    <span class="d-block my-4">Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                    <div class="icons d-flex gap-4 fs-4">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="box text-white">
                    <h5 class="mb-4">COMPANY</h5>
                    <ul class="d-flex flex-column gap-2 p-0 list-unstyled">
                        <li class="text-uppercase">home</li>
                        <li class="text-uppercase">about us</li>
                        <li class="text-uppercase">books</li>
                        <li class="text-uppercase">new release</li>
                        <li class="text-uppercase">contact us </li>
                        <li class="text-uppercase">blog</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="box text-white">
                    <h5 class="mb-4">Importent Links</h5>
                    <ul class="d-flex flex-column gap-2 p-0 list-unstyled">
                        <li class="text-uppercase">Privacy Policy</li>
                        <li class="text-uppercase">FAQs</li>
                        <li class="text-uppercase">Terms of Service</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-sm-between justify-content-center align-items-center gy-4 text-white flex-sm-row flex-column">
                <span>© 2022 Arihant. All Rights Reserved.</span>
                <span>Privacy | Terms of Service</span>
            </div>
        </div>
    </div>

</div>